@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Urbanist:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-size: 1rem;
    /* font-family: 'Urbanist', Arial, "Proxima Nova", system-ui, sans-serif; */
  }
  /* .bg-color {
    @apply bg-white dark:bg-black;
  }

  .bg-text {
    @apply text-light-primary-800 dark:text-dark-primary-500;
  } */

  /* *,
  ::before,
  ::after {
    @apply dark:border-white;
  } */
}

/* 
.maxwidth-site {
  max-width: 1100px;
  margin: 0 auto;
} */


/* CSS Icon Mobile Menu 
-----------------------*/
.mainnav {
  text-align: center;
}
.mainnav .mainmenu {
  /* overflow: hidden; */
  clear: both;
  max-height: 0;
  transition: max-height .3s ease-out;
  -webkit-transition: max-height .3s ease-out;
  -moz-transition: max-height .3s ease-out;
  -ms-transition: max-height .3s ease-out;
  -o-transition: max-height .3s ease-out;
}
.mainnav .mainmenu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  /* margin-top: 15px; */
}
.mainnav .mainmenu-icon .navicon {
  background: #FFF;
  display: block;
  height: 3px;
  position: relative;
  transition: background .3s ease-out;
  width: 30px;
  -webkit-transition: background .3s ease-out;
  -moz-transition: background .3s ease-out;
  -ms-transition: background .3s ease-out;
  -o-transition: background .3s ease-out;
}
.mainnav .mainmenu-icon .navicon:before,
.mainnav .mainmenu-icon .navicon:after {
  background: #FFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .3s ease-out;
  width: 100%;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
}
.mainnav .mainmenu-icon .navicon:before {
  top: 10px;
}
.mainnav .mainmenu-icon .navicon:after {
  top: -10px;
}
.mainnav .mainmenu-btn {
  display: none;
}
.mainnav .mainmenu-btn:checked ~ .mainmenu {
  max-height: 240px;
  margin-bottom: 20px;
}
.mainnav .mainmenu-btn:checked ~ .mainmenu-icon .navicon {
  background: transparent;
}
.mainnav .mainmenu-btn:checked ~ .mainmenu-icon .navicon:before {
  transform: rotate(-45deg);
}
.mainnav .mainmenu-btn:checked ~ .mainmenu-icon .navicon:after {
  transform: rotate(45deg);
}
.mainnav .mainmenu-btn:checked ~ .mainmenu-icon:not(.steps) .navicon:before,
.mainnav .mainmenu-btn:checked ~ .mainmenu-icon:not(.steps) .navicon:after {
top: 0;
}

@media (min-width: 768px) {
  .mainnav .mainmenu {
    clear: none;
    max-height: none;
    overflow: visible;
  }

  .mainnav .mainmenu-icon {
      display: none;
  }
}