@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Urbanist:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-size: 1rem;
    /* font-family: 'Urbanist', Arial, "Proxima Nova", system-ui, sans-serif; */
  }
  /* .bg-color {
    @apply bg-white dark:bg-black;
  }

  .bg-text {
    @apply text-light-primary-800 dark:text-dark-primary-500;
  } */

  /* *,
  ::before,
  ::after {
    @apply dark:border-white;
  } */
}

/* 
.maxwidth-site {
  max-width: 1100px;
  margin: 0 auto;
} */
